src/main/java/sample/dtd/externalStudent.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE students[
	<!ELEMENT students (student+)>
    <!ELEMENT student (firstname,lasname,nickname,marks)>
    <!ATTLIST student rollno (#PCDATA) #REQUIRED>
    <!ELEMENT firstname (#PCDATA)>
    <!ELEMENT lastname (#PCDATA)>
    <!ELEMENT nickname (#PCDATA)>
    <!ELEMENT marks (#PCDATA)>
]>